@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
.main-container {
  height: 100vh;
  overflow: scroll !important;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-items-container {
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.all-items-container a {
  display: flex;
  width: fit-content;
}

.src-NewsHeaderCard-styles-module__news-header-card--zsMEl {
  width: 200px;
}

.dropdown-container {
  margin-top: 20px;
  margin-right: 400px;
  display: flex;
  justify-content: flex-end;
}

.css-53f3mp-DropDown {
  width: 100px;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.add-to-cart-button {
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgb(12, 151, 12);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Signika Negative', sans-serif; ;
}
.navbar__cart-icon{
  width: 1.5 em;
  height: 1.5em;
}

.add-to-cart-button:hover {
  background-color: darkgreen;
}

.delete-button{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: rgb(187, 7, 7);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Signika Negative', sans-serif; ;
}
.navbar__del-icon{
  width: 1.5em;
  height: 1.5em;
}

.delete-button:hover{
  background-color: rgb(145, 4, 4);
}

.single-button-container{
  display:flex;
  align-items: center;
  justify-content: center;
}
.add-to-cart-buttonCustomer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgb(12, 151, 12);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Signika Negative', sans-serif; ;
}
.add-to-cart-buttonCustomer:hover{
  background-color: darkgreen;
}